#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Text Bob
Comment=This is Text Bob. Its great for taking quick and chaotic notes.
Icon=TextBob.png
Exec=textbob
StartupWMClass=textbob
Version=1.1.1
Terminal=false
Type=Application
Categories=Development
GenericName=Text Bob
Keywords=text; bob; notes
StartupNotify=true